*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: lightcoral;
}
.container{
    display: grid;
    gap: 1rem;
    padding: 2rem;
    grid-template-rows: repeat(6,325px);
    grid-template-columns: repeat(1,1fr);
    /* place-self: stretch; */
}
.item{
    /* height: 150px;
    width: 150px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* place-items: center; */
}
p{
    font-size: 10rem;
}
.sameside{
    margin-right:2rem ;
    background-color: rgb(176, 215, 248);
}
.sameside1{
    color: rgb(234, 227, 23) ;
    background-color: rgb(234, 227, 23);
}
.sameside2{
    color: rgb(234, 23, 23);
    background-color: rgb(234, 23, 23);
}
.left_side1{
    color:rgb(200, 200, 129) ;
    background-color: rgb(200, 200, 129);
}
.left_side2{
    color:  rgb(130, 200, 129);
    background-color: rgb(130, 200, 129);
}
.left_side3{
    color: rgb(129, 181, 200);
    background-color: rgb(129, 181, 200);
}
.left_side4{
    color: rgb(130, 129, 200);
    background-color: rgb(130, 129, 200);
}
.item:hover{
    color: white;
}
.item:hover{
    transition: 1s;
    background-color: lightcoral;
}
@media(min-width:1080px){
    .container{
    grid-template-rows: repeat(2,325px);
    grid-template-columns: repeat(3,1fr);
    place-self: stretch;}
}
